body { 
  background-image: url(Cerejeira.png);
  background-size: cover;        
  background-repeat: no-repeat;  
  background-position: center;   
  background-attachment: fixed;  
  background-color: aliceblue; 
  font-family: Arial, sans-serif;
}

/* Area de interação*/
.A0 {
  background-color: rgba(255, 255, 255, 0.8); /* branco transparente */
  display: grid;
  justify-content: center;  /* centraliza o conteúdo dentro do bloco */
  text-align: center;       /* centraliza o texto */
  
  width: 350px;             /* largura da “caixa” */
  padding: 30px;            /* espaço interno */
  margin: 100px auto 50px auto;       /* centraliza na tela (auto = centro horizontal) */
  border-radius: 15px;      /* cantos arredondados */
  box-shadow: 0px 4px 15px rgba(0,0,0,0.3); /* sombra leve */
}

/* Titulo */
.A1 {
  background-color:  rgb(243, 172, 211);
  padding: 10px;
  border-radius: 10px;
  color: white;
}

/* Resultado */
.A2 {
    color: darkblue; 
    font-size: 40px; 
    margin: 10px 0;
}


button {
  margin-top: 10px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(243, 172, 211);
}


#flores {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: none;
  z-index: 1000;
}

.flor {
  position: absolute;
  width: 30px;
  height: 30px;
  
  animation-name: cair;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.flor img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes cair {
  0% { transform: translateY(-50px) rotate(0deg); opacity: 1; }
  100% { transform: translateY(100vh) rotate(360deg); opacity: 0; }
}

/*Novidade */

.lista-flores {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: -10px auto 0 auto; /* negativo puxa a lista para mais perto */
  justify-content: center;
}

.quadrado-flor {
  width: 60px;
  height: 60px;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
}

.quadrado-flor img {
  max-width: 50px;
  max-height: 50px;
}