.Titulo {
    background-color: aliceblue;
    display: flex;
    width: auto;
    height: 60px;
    padding: 10px;
    justify-content: center;  /* centraliza horizontalmente */
    align-items: center;      /* centraliza verticalmente */
  }
  

  .AreaDeLogin {
    color: aliceblue;
    border-color: black;
    display: block;               /* Pula a linha */
    margin: 20px 10px 5px 10px;   /* Espaçamento= Cima - Direita - Baixo - Esquerda*/
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }

  .InputDeLogin {
    background-color: rgb(250, 250, 250);
    display: block;
    width: 250px;
    height: 25px;
    margin: auto;
    margin-bottom: 30px;
    border: none;              /* Tira a sombra da borda*/ 
    border-radius: 5px;

    color: black;
    padding: 5px 10px;         /* Cima-Baixo  Direita-Esquerda*/
    text-align: left;
    font-family:'Courier New', Courier, monospace;
    
   }

  .BotãoEnviar {
    background-color:  rgb(14, 56, 45);
    display: block;
    width: 100px;
    height: 40px;
    margin: auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    color: rgb(255, 255, 255);
    font-weight: bold;
  }

  .B-Sair {
    display: block;
    width: 100px;
    height: 40px;
    margin: auto;
    border-radius: 10px;
    cursor: pointer;

    font-weight: bold;
    }

  .FundoDaAreaDeLogin {
    background-color: rgb(43, 133, 110);
    width:350px;
    height: 260px;
    display: block;
    border-radius: 5px;
    margin: 40px auto 0 auto;
    padding: 10px 10px;
    
  }
  
    .Cabeçario {
    background-color: rgb(237, 240, 241); 
    display: grid;                     /* ativa o grid */
    grid-template-columns: 1fr 1fr;    /* 2 colunas iguais (2fr 1fr = primeira coluna ocupa o dobro da segunda.)*/
    gap: 20px;                         /* espaço entre os botões */
    
    width: auto;
    border-radius: 20px;
    margin: 100px 100px 50px 100px;
    padding: 20px;
  }

    .B-Cabeçario {
    background-color: rgb(43, 133, 110);
    width: 100%;                       /* ocupa toda a largura da célula da grid */
    height: 100px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
  }

    html, body {                    
    height: 100%;                
    margin: 0;                     
    padding: 0;
    }

    body { 
    background-image: url("Imagens/Horal-Area-de-Login.png");
    background-size: cover;        
    background-repeat: no-repeat;  
    background-position: center;   
    background-attachment: fixed;  
    background-color: aliceblue; 
    }